# Application
APP_NAME="Simple Alerting System"
DEBUG=false

# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/app_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
EVENTS_QUEUE=events
ALERTS_QUEUE=alerts

# PostgreSQL (for docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db